{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">Editar Entidad</h1>

            </div>

            <div class="">
                {{ form_start(edit_form) }}
                <div class="card">
                    <div class="card-body">
                        {{ form_widget(edit_form,{ 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </div>
                </div>
                {{ form_end(edit_form) }}
                <a href="{{ path('entidad_index') }}" class="btn btn-secondary">Volver a la Lista</a>
            </div>
        </div>
    </div>
{% endblock %}
