{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">Entidades</h1>

            </div>
            <div class="row row-cards row-deck">
                <div class="col-12">
                    <div class="btn-list">
                        <a href="{{ path('entidad_new') }}" class="btn btn-primary" role="button">Nuevo</a>
                    </div>
                    <div class="card">

                        <div class="table-responsive">
                            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Codigo</th>
                                        <th>Nombre de la Entidad</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entidad in entidads %}
                                        <tr>
                                            <td><a href="{{ path('entidad_show', { 'id': entidad.id }) }}">{{ entidad.id }}</a></td>
                                            <td>{{ entidad.codigo }}</td>
                                            <td>{{ entidad.nombre }}</td>
                                            <td>


                                                <div class="btn-list">
                                                    <a href="{{ path('entidad_show', { 'id': entidad.id }) }}" class="btn btn-success">Ver</a>
                                                    <a href="{{ path('entidad_edit', { 'id': entidad.id }) }}" class="btn btn-secondary">Editar</a>
                                                </div>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
