{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">
                    Entidad
                </h1>
            </div>
            <div class="row row-cards row-deck">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ entidad.id }}</td>
                                </tr>
                                <tr>
                                    <th>Codigo</th>
                                    <td>{{ entidad.codigo }}</td>
                                </tr>
                                <tr>
                                    <th>Nombre</th>
                                    <td>{{ entidad.nombre }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="btn-list">
                    <a href="{{ path('entidad_index') }}" class="btn btn-secondary">Volver a la Lista</a>
                    <a href="{{ path('entidad_edit', { 'id': entidad.id }) }}" class="btn btn-success">Editar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
