<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#4188c9">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">

        <title>{% block title %}Inicio{% endblock %} | Alcaldia Bogotá! | IO Optimizer </title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

        <script src="{{asset('js/require.min.js')}}"></script>
        <script>
            requirejs.config({
                baseUrl: '.'
            });
        </script>
        <!-- Dashboard Core -->
        <link href="{{asset('css/dashboard.css')}}" rel="stylesheet" />
        <script src="{{asset('js/dashboard.js')}}"></script>
        <!-- c3.js Charts Plugin -->
        <link href="{{asset('plugins/charts-c3/plugin.css')}}" rel="stylesheet" />
        <script src="{{asset('plugins/charts-c3/plugin.js')}}"></script>
        <!-- Google Maps Plugin -->
        <!-- Input Mask Plugin -->
        <script src="{{asset('plugins/input-mask/plugin.js')}}"></script>
    {% block stylesheets %}{% endblock %}

</head>
<body>
    <div class="page">
        <div class="page-main">
            <div class="header py-4">
                <div class="container">
                    <div class="d-flex">
                        <a class="header-brand" href="/">
                            <img src="{{ url('index') }}{{ asset('logoalcaldia.svg') }}" class="header-brand-img" alt="IO Optimizer >"> Alcaldía de Bogotá
                        </a>
                        <div class="d-flex order-lg-2 ml-auto">
                            
                            <div class="dropdown">
                                <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                    <span class="avatar" style="background-image: url(./demo/faces/female/25.jpg)"></span>
                                    <span class="ml-2 d-none d-lg-block">
                                        <span class="text-default">ADMIN</span>
                                        <small class="text-muted d-block mt-1">Administrador</small>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" href="#">
                                        <i class="dropdown-icon fe fe-user"></i> Perfil
                                    </a>
                                    
                                    <a class="dropdown-item" href="{{path('logout')}}">
                                        <i class="dropdown-icon fe fe-log-out"></i> Salir
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                            <span class="header-toggler-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
                <div class="container">
                    <div class="row align-items-center">
                        
                        <div class="col-lg order-lg-first">
                            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                                <li class="nav-item">
                                    <a href="{{path('homepage')}}" class="nav-link"><i class="fe fe-home"></i> Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-box"></i> Personal</a>
                                    <div class="dropdown-menu dropdown-menu-arrow">
                                        <a href="{{path('personal_index')}}" class="dropdown-item ">Listado</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Registros</a>
                                    <div class="dropdown-menu dropdown-menu-arrow">
                                        <a href="{{path('registro_index')}}" class="dropdown-item ">Registros</a>
                                        <a href="{{path('tipocampo_index')}}" class="dropdown-item ">Tipos</a>
                                    </div>
                                </li>
                              
                                <li class="nav-item">
                                    <a href="{{path('entidad_index')}}" class="nav-link"><i class="fe fe-image"></i> Entidades</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><i class="fe fe-image"></i> Efectos</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% block body %}{% endblock %}
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
