{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">
                    Listado de Personal
                </h1>
            </div>
            <div class="row row-cards row-deck">
                <div class="col-12">
                    <div class="card">
                        <div class="table-responsive">
                            {{ form_start(edit_form) }}
                            {{ form_widget(edit_form) }}
                            <input type="submit" value="Edit" />
                            {{ form_end(edit_form) }}

                            <ul>
                                <li>
                                    <a href="{{ path('registro_index') }}">Back to the list</a>
                                </li>
                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Delete">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
