{% extends 'base.html.twig' %}
{% block javascripts %}
    <script>
        require(['jquery'], function ($) {
            $("#appbundle_personal > div").addClass('col-sm-6 col-md-3');
        });
    </script>
{% endblock %}
{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">
                    Editar Personal
                </h1>
            </div>
            <div class="row row-cards row-deck">
            </div>
            <div class="">
                {{ form_start(edit_form) }}
                <div class="card">
                    <div class="card-body">
                        {{ form_widget(edit_form,{ 'attr': {'class': 'row'} }) }}
                        {{ form_end(edit_form) }}
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="{{ path('personal_index') }}">Back to the list</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
