{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">Lista de Personal</h1>

            </div>
            <div class="row row-cards row-deck">
                <div class="col-12">
                    <div class="btn-list">
                        <a href="{{ path('personal_new') }}" class="btn btn-primary" role="button">Nuevo</a>
                    </div>
                    <div class="card">

                        <div class="table-responsive">
                            <table class="table table-hover table-outline table-vcenter text-nowrap card-table">

                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombres Completos</th>
                                        <th>Documento</th>
                                        <th>Entidad</th>
                                        <th>Fecha de Ingreso</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for personal in personals %}
                                        <tr>
                                            <td><a href="{{ path('personal_show', { 'id': personal.id }) }}">{{ personal.id }}</a></td>
                                            <td>{{ personal.nombres }} {{ personal.apellidos }}</td>
                                            <td>{{ personal.tipoDocumento }} {{ personal.documento }}</td>
                                            <td>{{ personal.entidad.nombre }}</td>
                                            <td>{% if personal.fechaIngreso %}{{ personal.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                                            <td>
                                                <div class="btn-list">
                                                    <a href="{{ path('personal_show', { 'id': personal.id }) }}" class="btn btn-success">Ver</a>
                                                    <a href="{{ path('personal_edit', { 'id': personal.id }) }}" class="btn btn-secondary">Editar</a>
                                                </div>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
