{% extends 'base.html.twig' %}
{% block javascripts %}
    <script>
        require(['jquery'], function ($) {
            $("#appbundle_personal > div").addClass('col-sm-6 col-md-3');
        });
    </script>
{% endblock %}

{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">
                    Crear Personal
                </h1>
            </div>
            <div class="">
                {{ form_start(form) }}
                <div class="card">
                    <div class="card-body">
                        {{ form_widget(form,{ 'attr': {'class': 'row'} }) }}

                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </div>
                {{ form_end(form) }}

                <ul>
                    <li>
                        <a href="{{ path('personal_index') }}" class="btn btn-secondary">Volver a la Lista</a>
                    </li>
                </ul> 
            </div>


        </div>
    </div>


{% endblock %}
