{% extends 'base.html.twig' %}

{% block body %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">
                    Personal
                </h1>
            </div>
            <div class="row row-cards row-deck">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ personal.id }}</td>
                                </tr>
                                <tr>
                                    <th>entidad</th>
                                    <td>{{ personal.entidad.nombre }}</td>
                                </tr>
                                
                                <tr>
                                    <th>Nombres</th>
                                    <td>{{ personal.nombres }}</td>
                                </tr>
                                <tr>
                                    <th>Apellidos</th>
                                    <td>{{ personal.apellidos }}</td>
                                </tr>
                                <tr>
                                    <th>Tipo documento</th>
                                    <td>{{ personal.tipoDocumento }}</td>
                                </tr>
                                <tr>
                                    <th>Documento</th>
                                    <td>{{ personal.documento }}</td>
                                </tr>
                                <tr>
                                    <th>Fecha ingreso</th>
                                    <td>{% if personal.fechaIngreso %}{{ personal.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Estado civil</th>
                                    <td>{{ personal.estadoCivil }}</td>
                                </tr>
                                <tr>
                                    <th>Direccion</th>
                                    <td>{{ personal.direccion }}</td>
                                </tr>
                                <tr>
                                    <th>Ciudad</th>
                                    <td>{{ personal.ciudad }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="btn-list">
                    <a href="{{ path('personal_index') }}" class="btn btn-secondary">Volver a la Lista</a>
                    <a href="{{ path('personal_edit', { 'id': personal.id }) }}" class="btn btn-success">Editar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
