{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipocampos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoCampo in tipoCampos %}
            <tr>
                <td><a href="{{ path('tipocampo_show', { 'id': tipoCampo.id }) }}">{{ tipoCampo.id }}</a></td>
                <td>{{ tipoCampo.nombre }}</td>
                <td>{{ tipoCampo.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tipocampo_show', { 'id': tipoCampo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tipocampo_edit', { 'id': tipoCampo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipocampo_new') }}">Create a new tipoCampo</a>
        </li>
    </ul>
{% endblock %}
