{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipocampo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipoCampo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipoCampo.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tipoCampo.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipocampo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tipocampo_edit', { 'id': tipoCampo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
